# Environment files
.env
.venv

# Python cache files
__pycache__/
*.pyc
*.pyo

# Temporary files
*.bak
*.log
*.swp
*.tmp
*.DS_Store

# Other files
.aider*
inputs/images/test.png
doclaymodel/doclayout_yolo_docstructbench_imgsz1024.pt
project_tree.txt
scripts/python/project_tree.py
